header {
    background-color: #282c34;
    color: white;
    overflow: hidden;
    text-align: center;
}
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}